<a href="https://colab.research.google.com/github/Kishore192/python/blob/main/_Loops_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program which accepts month's name as input and display the number of days in the month as output

In [ ]:
month=str(input("type name of the month"))
  
if (month == "February"):
    print("No of days:28/29days")
elif month in ("January", "March", "May", "July", "August", "October", "December"):
	print("No. of days: 31 day")
elif month in ("April", "June", "September", "November"):
    print("No of days:30days")
else:
    print("wrong month name")

type name of the monthMarch
No. of days: 31 day

Take any word as input from the user and count the number of vowels in the word

In [ ]:
word=str(input("enter the word"))
vowel_count=0
for i in word:
  if i in ('a','A','e','E','i','I','o','O','u','U'):
    vowel_count=vowel_count+1
  else:
    pass
  
print('No of vowels are',vowel_count)

enter the wordkishore
No of vowels are 3

Write a program to separate even and odd numbers in two distinct lists from a list of numbers of your choice

In [ ]:
l1=[1,6,3,2,7,8,4,12,14]
l2=[100,111,113,118,126,145,188]
even=[]
odd=[]
for i in l1+l2:
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)
print("The even list",even)
print("The odd list",odd)

The even list [6, 2, 8, 4, 12, 14, 100, 118, 126, 188]
The odd list [1, 3, 7, 111, 113, 145]

Write a program that appends datatype of elements from a list to a separate list

In [ ]:
l1=['apple','grapes',23,3.3,19,38,0.6]
l2=[]
for i in l1:
  l2.append(type(i))
  
print(l2)

[<class 'str'>, <class 'str'>, <class 'int'>, <class 'float'>, <class 'int'>, <class 'int'>, <class 'float'>]

Write a program to display only those numbers from a list that satisfies the following conditions:

1. The number must be divisible by 7

2. If the number is 140 then skip it and move to the next number in the list

3. If the number in the list is greater than 630 then stop the loop

In [ ]:
 l1=[2,7,42,36,49,140,210,350,630,700]
 for i in l1:
    if(i==140):
      continue
    elif (i>=630):
      break
    elif (i%7==0):
      print(i)
    else:
      pass

7
42
49
210
350