<a href="https://colab.research.google.com/github/Kishore192/python/blob/main/conditional_statements%26loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

mathematical operators

In [ ]:
a=10
b=3

print(a/b) #single forward slash - float division i.e. o/p will be decimal number
print(a//b) #double forward slash - integer division i.e. o/p will be integer number

3.3333333333333335
3

In [ ]:
a=45
b=7
#compute 45 to the power 7 
print(a**b) #a is the base and b is the power

373669453125

In [ ]:
a=2
b=3
print(a**b) #2 to the power 3

8

In [ ]:
a=10
b=3
print(a%b) #remainder of a/b will be fetched

1

In [ ]:
a=15
b=5
print(a%b)

0

In a fare, the entry fee of children less than 4 years of age is 0 INR, for children of age 4-15 years, the entry fee is 100 INR and for people more than 15 years of age, the entry fee is 175 INR.

Take age as input from the user and display the price of ticket

In [ ]:
age=int(input("enter your age"))

if age<4:
  print("no entry fee")

elif 4<=age<=15:
  print("100 rupees")

else:
  print("175 rupees")

enter your age15
100 rupees

Take a number as input from the user and check if the number is perfectly divisibly by 2, 3 and 7 respectively

In [ ]:
#perfectly divisible means remainder will be 0
num=int(input("enter a number"))

if num%2==0:
  print("perfectly divisible by 2")

else:
  print("not perfectly divisible by 2")

if num%3==0:
  print("perfectly divisible by 3")

else:
  print("not perfectly divisible by 3")

if num%7==0:
  print("perfectly divisible by 7")

else:
  print("not perfectly divisible by 7")

enter a number49
not perfectly divisible by 2
not perfectly divisible by 3
perfectly divisible by 7

Take a number as input from the user and check if the number is even or odd

In [ ]:
#even number is a number which is perfectly divisibly by 2
num=int(input("enter a number"))

if num%2==0:
  print("number is even")

else:
  print("number is odd")

enter a number5
number is odd

The owner of a company decides to give bonus of 5% to employees who have been working for this company for 5 years or more.

Take current salary and years of experience with this company as input and display the incremented salary (if any)

In [ ]:
current_salary=int(input("enter your current salary"))
years=int(input("enter years of exp. with this co."))

if years>=5:
  print("incremented salary is",current_salary+0.05*current_salary)

else:
  print("no increment in salary, your current salary is",current_salary)

enter your current salary100000
enter years of exp. with this co.6
incremented salary is 105000.0

A grocery store allows 20% discount on items purchased worth more than 2000 INR. Considering price of each commodity to be 200 INR, calculate the price after the discount to be paid at the end

Take number of commodities purchased as input from the user

In [ ]:
items=int(input("enter number of items"))
current_price=200*items

if current_price>2000:
  discounted_price=current_price-0.2*current_price
  print("price to be paid after discount of 20% is", discounted_price)

else:
  print("price to be paid",current_price)

enter number of items11
price to be paid after discount of 20% is 1760.0

Nested Statements

Take a number as input from the user and check if the number is greater than 10 or not.

Incase the number is greater than 10, check if it is greater than 20 also or not

In [ ]:
x=int(input("enter a number"))

if x>10:

  if x>20:
    print("x is greater than 20")

  else:
    print("x is less than 20 but greater than 10")

else:
  print("x is less than 10")

enter a number5
x is less than 10

Take a number as input from the user and check if the number is positive, negative or zero (use nested if statements only)

In [ ]:
x=int(input("enter a number"))

if x>=0:

  if x>0:
    print("x is positive")

  else:
    print("x is zero")
  
else:
  print("x is negative")

enter a number-3
x is negative

LOOPS

Print the numbers 1-10 using while loop

In [ ]:
a=1 #temp variable initialized with value 1

while a<=10:
  print(a)
  a=a+1

1
2
3
4
5
6
7
8
9
10

Print all the odd numbers between 1-10 using while loop

In [ ]:
a=1 #temp variable initialized with value 1

while a<=10:
  print(a)
  a=a+2

1
3
5
7
9

Print the numbers 1-10 using for loop

In [ ]:
for i in range(1,11,1): #by default the step size is 1
  print(i)

1
2
3
4
5
6
7
8
9
10

Print all the odd numbers between 1-10 using for loop

In [ ]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

Output based questions

In [ ]:
a=7
b=5

while a<9:
  print(a+b)
  a=a+1

12
13

In [ ]:
x=5

while x<15:
  print(x**2)
  x=x+3

25
64
121
196

Take a number as input from the user and display its multiplication table

In [ ]:
num=int(input("enter a number"))
for i in range(1,11):
  print(num*i)

enter a number17
17
34
51
68
85
102
119
136
153
170

In [ ]:
num=int(input("enter a number"))
a=1
while a<11:
  print(num*a)
  a=a+1

enter a number5
5
10
15
20
25
30
35
40
45
50

Take a list of numbers and display all the even numbers in the given list

In [ ]:
l1=[23,49,77,67,34,65,23,98,22,78]

for a in l1:
  if a%2==0:
    print(a)

34
98
22
78

Take a list of numbers and display the square of numbers in the given list

In [ ]:
l2=[2,3,4,5,6,7]

for b in l2:
  print(b**2)

4
9
16
25
36
49

Take a list of numbers and display the count of even and count of odd numbers in the given list

In [ ]:
l1=[23,49,77,67,34,65,23,98,22,78]

count_even=0
count_odd=0

for i in l1:
  if i%2==0: #even
    count_even=count_even+1 #counter of even will be incremented by 1

  else: #odd
    count_odd=count_odd+1 #counter of odd will be incremented by 1 

print("even numbers in the list are",count_even,"and odd numbers are", count_odd)

even numbers in the list are 4 and odd numbers are 6

STATEMENTS

1. PASS

2. BREAK

3. CONTINUE

In [ ]:
#PASS - makes a particular segment of  your code inactive

In [ ]:
x=int(input("enter a number"))
y=int(input("enter a number"))

if x>y:
  print("x is greater than y")

else:
  pass #there will be no o/p incase y>x

enter a number15
enter a number25

In [ ]:
l1=[23,49,77,67,34,65,23,98,22,78]

for a in l1:
  if a%2==0:
    print(a)

  else:
    pass

34
98
22
78

In [ ]:
l1=[23,49,77,67,34,65,23,98,22,78]

for a in l1:
  if a%2==0:
    pass

  else:
    print(a)

23
49
77
67
65
23

In [ ]:
#BREAK - forcebly terminate the ongoing loop when a particular condition is satisfied
fruits=['apple','banana','mango','guava','grapes']

for i in fruits:
  if i=='guava':
    break 

  print(i)

apple
banana
mango

In [ ]:
name='Washington'

for i in name:
  if i=='h':
    break

  print(i)

W
a
s

In [ ]:
#CONTINUE - skip the mentioned element in the satisfied condition

In [ ]:
fruits=['apple','banana','mango','guava','grapes']

for i in fruits:
  if i=='guava':
    continue 

  print(i)

apple
banana
mango
grapes

In [ ]:
name='Washington'

for i in name:
  if i=='h':
    continue

  print(i)

W
a
s
i
n
g
t
o
n

Display all the numbers between 1 to 10 except 3 and 6

In [ ]:
for i in range(1,11):

  if i==3 or i==6:
    continue

  print(i)

1
2
4
5
7
8
9
10