<a href="https://colab.research.google.com/github/Kishore192/python/blob/main/Functions_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Define a function that accepts a number and returns whether the number is even or odd.

In [ ]:
def num (a):
  if (a%2==0):
    print("a is even")
  else:
    print("a is odd")

In [ ]:
num(100)

a is even

In [ ]:
num(99)

a is odd

Define a function to create and print a list where the values are square of numbers between 1 and 30 (both included).

In [ ]:
def compute(a,b):
 l1=[]
 for i in range(1,31):
  l1.append((i**2))

 print(l1)

In [ ]:
compute(1,31)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

Define a function, shut_down, that takes one parameter. Then, if the shut_down function receives a value equal to "yes", it should print "Shutting down". Alternatively, if vallue is equal to "no", then the function should print "Shutdown aborted". Finally, if shut_down gets anything other than those inputs, the function should print "Sorry".

In [ ]:
def shut_down(a=str):
 if (a=="yes")or(a=="YES"):
   print("shutting down")
 elif (a=="no") or (a=="NO"):
   print("shutting aborted")
 else:
   print("sorry")

In [ ]:
shut_down("yes")

shutting down

In [ ]:
shut_down("no")

shutting aborted

 

Define a function called "by_three" that takes a parameter called number. If that number is divisible by 3, "by_three" should print the cube of the number. Otherwise, by_three should print False.

In [ ]:
def by_three(a):
  if (a%3==0):
    c=a**3
    print(c)
  else:
    print("false")

In [ ]:
by_three(30)

27000

In [ ]:
by_three(31)

false

Define a function that takes a list and prints a new list with no duplicate elements given in the first list.

In [ ]:
 def my_list(l):
   l2=[]
   for i in l:
     if i not in l2:
       l2.append(i)
   print(l2)

In [ ]:
my_list([1,2,5,5,9,6,7,7,8,4])

[1, 2, 5, 9, 6, 7, 8, 4]