<a href="https://colab.research.google.com/github/Kishore192/python/blob/main/Python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dictionary

In [ ]:
att={1:'Aditya',2:'Chirag',3:'Kunal',4:'Suman'}

In [ ]:
print(att)

{1: 'Aditya', 2: 'Chirag', 3: 'Kunal', 4: 'Suman'}

In [ ]:
type(att)

dict

In [ ]:
#adding new key value pair in the dict
att[5]='Sheetal'

In [ ]:
print(att)

{1: 'Aditya', 2: 'Chirag', 3: 'Kunal', 4: 'Suman', 5: 'Sheetal'}

In [ ]:
att[6]='Zoya'

In [ ]:
print(att)

{1: 'Aditya', 2: 'Chirag', 3: 'Kunal', 4: 'Suman', 5: 'Sheetal', 6: 'Zoya'}

In [ ]:
#replacing value from the dictionary
att[3]='Keshav'

In [ ]:
print(att)

{1: 'Aditya', 2: 'Chirag', 3: 'Keshav', 4: 'Suman', 5: 'Sheetal', 6: 'Zoya'}

In [ ]:
att[2:5]

TypeError: ignored

Note:

In dictionary,we use name of the key to fetch one value at a time, as indexing and slicing are not supported

In [ ]:
#fectching values from dictionary
att[2] #here 2 is the key and not the index number

'Chirag'

In [ ]:
att[6]

'Zoya'

In [ ]:
#delete existing key value pair 
del att[4] #key of the pair will be used to delete the entire key value pair

In [ ]:
print(att)

{1: 'Aditya', 2: 'Chirag', 3: 'Keshav', 5: 'Sheetal', 6: 'Zoya'}

In [ ]:
del att[6]

In [ ]:
print(att)

{1: 'Aditya', 2: 'Chirag', 3: 'Keshav', 5: 'Sheetal'}

In [ ]:
memo={'pens':80,'cake':1000,'cold_drink':200,'chocolates':150}

In [ ]:
print(memo)

{'pens': 80, 'cake': 1000, 'cold_drink': 200, 'chocolates': 150}

In [ ]:
memo['cold_drink']

200

In [ ]:
memo['cake']

1000

In [ ]:
memo['notebook']=90

In [ ]:
print(memo)

{'pens': 80, 'cake': 1000, 'cold_drink': 200, 'chocolates': 150, 'notebook': 90}

In [ ]:
del memo['cake']

In [ ]:
print(memo)

{'pens': 80, 'cold_drink': 200, 'chocolates': 150, 'notebook': 90}

In [ ]:
memo.pop('pens')

80

In [ ]:
print(memo)

{'cold_drink': 200, 'chocolates': 150, 'notebook': 90}

In [ ]:
memo['chocolates']=500

In [ ]:
print(memo)

{'cold_drink': 200, 'chocolates': 500, 'notebook': 90}

Create a dictionary which contains the following data : name: Bob, occupation: Builder, city:NewYork, salary:20000

1. add a new key value pair - age:30
2. replace salary as 40000
3. delete occupation
4. fetch city of Bob

Tuple

In [ ]:
t=('India',34,56,9.7,-2.8,'USA','Charlie')

In [ ]:
print(t)

('India', 34, 56, 9.7, -2.8, 'USA', 'Charlie')

In [ ]:
type(t)

tuple

In [ ]:
t[5]

'USA'

In [ ]:
t[2:5]

(56, 9.7, -2.8)

In [ ]:
t[5:]

('USA', 'Charlie')

In [ ]:
t[3]

9.7

In [ ]:
t[0]='China'

TypeError: ignored

Sets

In [ ]:
s={'India', 34, 56, 9.7, -2.8, 'USA', 'Charlie'}

In [ ]:
type(s)

set

In [ ]:
print(s)

{34, 'India', 9.7, 'Charlie', 'USA', 56, -2.8}

In [ ]:
s[1]

TypeError: ignored

In [ ]:
s[1:4]

TypeError: ignored

In [ ]:
s[0]='china'

TypeError: ignored

Nested Lists

In [ ]:
l1=['India','China','Russia',['Mango','Banana','Apple','Grapes']]

In [ ]:
a=l1[0:3]

In [ ]:
b=l1[3][0:2]

In [ ]:
print(a+b)

['India', 'China', 'Russia', 'Mango', 'Banana']

In [ ]:
l1[2]

'Russia'

In [ ]:
l1[3][0]

'Mango'

In [ ]:
l1[3][0:3]

['Mango', 'Banana', 'Apple']

CONDITIONAL STATEMENTS or CONTROL FLOW

Take two numbers x and y as input from the user and check whether x is greater or y is greater

In [ ]:
x=int(input("enter value for x"))
y=int(input("enter value for y"))

if x>y:
  print("x is greater")

elif x==y:
  print("both the values are equal")
  
else:
  print("y is greater")

enter value for x10
enter value for y10
both the values are equal

Take age as input from the user and check if the person is eligible for voting or not (provided voting age is 18 years or more)

In [ ]:
age=int(input("enter value for age"))

if age>=18:
  print("eligible for voting")

else:
  print("not eligible for voting")

enter value for age18
eligible for voting

Take lenght and breadth of a rectange as input from the user and check if the rectange is a square

In [ ]:
length=int(input("enter value for length"))
breadth=int(input("enter value for breadth"))

if length==breadth:
  print("the rectange is a square")

else:
  print("rectange is not a square")

enter value for length50
enter value for breadth50
the rectange is a square